# Start a virtual environment!
# python3 -m venv ./venv
# source ./venv/bin/activate

# Run "pip install -r requirements.txt"
# Uninstall all pip packages: "pip freeze | xargs pip uninstall -y"
requests
beautifulsoup4